@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  margin-top: 50px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh !important;
}

a {
  color: #00B7FF;
}

.container-view {
	height: 100%;
}

.view-slide-in {
	height: 100%;
}


/************************ Home page ************************/
.home-view {
	/*background: #b8ffdb;*/
	height: 100%;
}

.mainImage img{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	opacity: 1;
	box-shadow: 10px 0px 15px #000000;
}

.mainImage img:nth-child(2) {
	left: -50px;
}

.mainImage img:nth-child(3) {
	left: -100px;
}

.mainImage.ng-hide {
	opacity: 0;	
}

.mainImage.ng-hide-add.ng-hide-add-active,
.mainImage.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

.user-profile {
	color: #ffffff;
	position: absolute;
	text-align: center;
	padding: 10px 0px 5px 0px;
	background: #0084b4;
}

.user-profile.ng-hide {
	opacity: 0;	
}

.user-profile.ng-hide-add.ng-hide-add-active,
.user-profile.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5;
}

.profile-photo {
	padding: 0 !important;
}

.profile-photo-item {
	margin-top: 5px;
}

.profile-photo-item .glyphicon,
.profile-photo-item span {
	font-size: 15px;
}

.profile-info {
	padding-bottom: 10px;
}

.profile-info h3 {
	margin: 10px 0px 5px 0px;
}

.profile-info p {
	font-family: 'Poiret One', cursive;
	font-size: 12px;
	margin: 0;
}

.profile-info span {
	margin-left: 2px;
}

.friends-panel {
	border-bottom: 1px solid #e1e8ed;
	box-shadow: 1px 1px 1px #eee;
	padding-bottom: 15px;	
}

.friends-form {
	margin-top: 12px;
}

.friend-list:hover {
	cursor: pointer;
}

.friends-panel.ng-hide {
	opacity: 0;	
}

.friends-panel.ng-hide-add.ng-hide-add-active,
.friends-panel.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.profile-bottom-bar {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding-top: 8px;
	background-color: #101010; 
}

.profile-bottom-bar button {
	color: #fff;
	background-color: transparent;
	border-color: #e1e8ed;
	border-radius: 5px;
}

.profile-bottom-bar button a {
	color: #ffffff;
	text-decoration: none;
}

.profile-bottom-bar span {
	margin-right: 5px;	
}

.profile-bottom-bar button:hover, .profile-bottom-bar button:focus,
.profile-bottom-bar button:active {
	background: #0084b4;
	border-color: #00CCFF;
	outline: none !important;
}

.search-users input {
	/*padding: 0 !important;*/
	height: 25px;
	border-radius: 5px;
	color: black;
}

.search-users button {
	height: 25px;
	padding: 0 10px;
	border-radius: 5px;
}

.input-group-btn span {
	font-size: 13px;
}

.user-results {
	text-align: center;
	padding-left: 0;
	/*margin-top: 40px;*/
}

.autocomplete-row {
	list-style: none;
	background-color: transparent;
	border-radius: 1px;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
}

.autocomplete-row img, .friend-list img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 12px;
}

.add-friend-button {
	margin-left: 20px;
	padding: 5px;
	font-size: 8px;
	border-radius: 50%;
	border: 1px solid #000
}

.add-friend-button:hover {
	cursor: pointer;
}

/*********************** UPLOAD VIEW **********************/
.upload-preview {
	padding: 0px !important;
}

.upload-preview img{
	width: 100%;
}

.upload-img-preview {
	/*overflow: hidden;*/
	float: left;
	padding: 0px !important;
	border: 0px solid #33CCFF;
}

.upload-img-preview img {
	position: relative;
}

.upload-img-preview-mask {
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 3px;
	font-size: 34px;
	opacity: 0;
	color: #ffffff;
	background-color: #33CCFF;
}

.editing {
	cursor: pointer;
}

.upload-bottom-bar {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding-top: 8px;
	background-color: #101010;
}

.upload-bottom-bar span {
	font-size: 20px;
	border: 2px solid #9d9d9d;
	border-radius: 50%;
	padding: 8px;
	margin-left: 12px;
	color: #9d9d9d;
	cursor: pointer;
}

.modal-body {
	height: 350px;
}

.progress-circle {
	height: 300px;
	width: 300px;
	margin-left: 130px;
	margin-top: 10px;
	/*background: #000;*/
	border: 5px solid #000;
	position: absolute;
	border-radius: 50%;
}

.progress-left, .progress-right{
	height: 305px;
	width: 305px;
	position: absolute;
	top: -7px;
	left: -7px;
}

.left, .right {
	width: 305px;
	height: 305px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	/*background: #ddd;*/
	border: 10px solid #fff;
}

/*.right {
	transform: rotate(180deg);
}
.left {
	transform: rotate(180deg);
}*/

.progress-right, .right {
	clip: rect(0, auto, auto, 152.5px);
}

.progress-left, .left {
	clip: rect(0, 150px, auto, 0);
}

.progress-mask {
	height: 290px;
	width: 290px;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 270px;
	font-size: 30px;
	text-align: center;
	background: #fff;
}

/*********************** GALLERY VIEW **********************/
.gallery-preview {
	padding: 0px !important;
	margin-bottom: 60px;
}

.gallery-img-preview {
	padding: 0px !important;
	float: left !important;
}

.gallery-img-preview img {
	width: 100%;
}

.gallery-img-preview img:hover {
	cursor: pointer;
}

.gallery-img-preview-mask {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 25%;
	color: #ffffff;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.gallery-img-preview-infobar {
	position: absolute;
	bottom: 0;
	height: 22px;
}

.gallery-img-preview-mask span{
	font-size: 15px;
}

.gallery-img-preview-infobar h6{
	display: inline;
}

.gallery-preview-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: black;
	opacity: 0.8;
}

.gallery-preview-overlay.ng-hide-add.ng-hide-add-active,
.gallery-preview-overlay.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.gallery-preview-overlay.ng-hide{
	opacity: 0;
}

.light-image {
	position: fixed;
	z-index: 1000;
	/*background-color: red;*/
}

.light-image img{
	width: 100%;
}

.light-image-controller {
	position: absolute;
	top: 3%;
	right: 2%;
}

.light-image-controller span {
	display: block;
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 15px;
	border: 2px solid white;
	border-radius: 50%;
	opacity: 0.8;
}

.light-image-controller span:hover {
	cursor: pointer;
}

#removeAlert {
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 60%;
	display: none;
}

.remove-button {
	padding: 12px 10px 10px 10.5px;
}

.star-button {
	padding: 12px 10px 10px 11px;
}

.trash-button {
	padding: 12px 12px 10px 10px;
}

.gallery-bottom-bar {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding-top: 8px;
	background-color: #101010;
}

.gallery-bottom-bar-buttons button {
	background: #101010;
	border-color: #ffffff;
	border-radius: 5px;
}

.gallery-bottom-bar button:hover, .gallery-bottom-bar button:focus,
.gallery-bottom-bar button:active {
	color: #101010;
	background: #cccccc;
	border-color: #cccccc;
	outline: none !important;
}

.gallery-bottom-bar-search {
	margin: 0 20px;
}

.gallery-img-preview.ng-enter,
.gallery-img-preview.ng-leave,
.gallery-img-preview.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.gallery-img-preview.ng-enter,
.gallery-img-preview.ng-move {
  opacity: 0;
  width: 0;
  /*overflow: hidden;*/
}

.gallery-img-preview.ng-move.ng-move-active,
.gallery-img-preview.ng-enter.ng-enter-active {
  opacity: 1;
  width: 215px;
}

.gallery-img-preview.ng-leave {
  opacity: 1;
  /*overflow: hidden;*/
}

.gallery-img-preview.ng-leave.ng-leave-active {
  opacity: 0;
  width: 0;
}

/*********************** FRIEND VIEW **********************/
.friend-profile {
	padding: 10px 0 5px 0;
	text-align: center;
	color: #000;
	background-color: #b8ffdb;
}

.message-button {
	margin-top: 25px;
}

.tooltip {
	/*margin: 0 !important;*/
	clip: rect(0px,auto,auto,0px);
	/*padding: 0 !important;*/
}

#messageModal li {
    list-style: none;
	margin-bottom: 10px;
	padding: 0;
}

#messageModal li span {
	padding: 0;
}

.message-user {
	text-align: right;
}

.message-input-bar button{
	border-radius: 5px;
}