<div class="gallery-view row">
	<div class="gallery-preview col-xs-12">
		<div ng-repeat="img in galleryQueue | filter: searchingStr" class="gallery-img-preview col-xs-6 col-md-2" ng-click="showImg(this, $event)">
			<img src="{{ img.thumbpath.lowThumb }}">
		</div>
		<div ng-repeat="img in combineImgs | filter: searchingStr" class="gallery-img-preview col-xs-6 col-md-2" ng-click="showImg(this, $event)">
			<img src="{{ img.path }}">
		</div>
		<div ng-repeat="video in videos | filter: searchingStr" class="gallery-img-preview col-xs-6 col-md-2" ng-click="">
			<video controls>
				<source src="{{ video.path }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="gallery-preview-overlay" ng-show="imgSelected"></div>
		<div id="light-image" class="light-image" ng-show="imgSelected" ng-class="{show: imgSelected}">
			<h4 style="margin-top:0px">{{ originalImg.originalname }}</h4>
			<img src="{{ lightImgPath }}">
			<div class="light-image-controller">
				<span class="glyphicon glyphicon-remove remove-button" ng-click="closeLight()"></span>
				<span class="glyphicon glyphicon-star star-button" ng-click="addToFavourite()"></span>
				<span class="glyphicon glyphicon-trash trash-button" ng-click="removeImgAlert()"></span>
			</div>
			<div class="light-image-sidebar">
				<div ng-repeat="img in lightImgComments" class="comment-imgs" ng-click="showImgComment(this)">
					<img src="{{ img.path }}">
				</div>
			</div>
			<div id="removeAlert" class="alert alert-danger alert-dismissible fade in" role="alert">
				<h3>Do you want to remove this image?</h3>
				<p>
					<button type="button" class="btn btn-danger" ng-click="removeImg()">Remove</button>
					<button type="button" class="btn btn-default" ng-click="removeImgAlertCancel()">Cancel</button>
				</p>
			</div>
		</div>
	</div>
	<div class="gallery-bottom-bar">
		<div class="gallery-bottom-bar-buttons" ng-show="!gallerySearching">
			<button class="btn btn-info" ng-click="searchImgs()">search</button>
			<button class="btn btn-info" ng-click="searchVideo()">search</button>
			<button class="btn btn-info" ng-click="loadMoreImgs()">load more</button>
			<button class="btn btn-info" ng-click="showAllImgs()" ng-show="!allphotos">all photos</button>
			<button class="btn btn-info" ng-click="showFavourites()" ng-show="allphotos">favourite</button>
		</div>
		<div class="gallery-bottom-bar-search" ng-show="gallerySearching">
			<div class="input-group">
				<input class="form-control" placeholder="input photoname" ng-model="searchingStr">
				<span class="input-group-btn">
		        	<button class="btn btn-default" type="button" ng-click="clearInput()"><span class="glyphicon glyphicon-remove-circle"></span></button>
					<button class="btn btn-default" type="button" ng-click="stopSearch()"><span class="glyphicon glyphicon-minus"></span></button>
		      	</span>
			</div>
		</div>
  </div>
	<div class="modal fade" id="videoModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title">Video from Youmeng3</h5>
				</div>
				<div class="modal-body editedImg-body">
					<div class="container-fluid">
						<div class="row">
							<div class="combine-bg-imgs col-xs-3" ng-repeat="video in videos" ng-click="selectUserImg(this)">
								<!--<img src="{{ img.thumbpath.lowThumb }}">-->
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="addUserImage()">Choose BG</button>
				</div>
			</div>
		</div>
	</div>
</div>