<div class="home-view row">
	<div class="empty-gallery-alert" ng-show="emptyGalleryAlert">
		<h3>Please add your first image~~!!</h3>
	</div>
	<div class="mainImage" ng-show="sliderMode === 1">
 		<img class="home-slider" src="{{ img.thumbpath.mediumThumb }}" ng-repeat="img in mainImages" ng-class="{sliderhide: mainImageTopOne === img._id, sliderleft50: sliderLeft50 === img._id, sliderleft100: sliderLeft100 === img._id}">
	</div>
	<div class="user-profile col-xs-12">
		<div class="profile-photo col-xs-12 col-md-1">
			<img class="img-circle" width="65px" height="65px" src="{{ userProfilePhoto }}">
			<div class="profile-photo-item">
				<span>
					<span class="glyphicon glyphicon-heart"></span>
					<span class="collectionPoints">35</span>
				</span>
				<span>
					<span class="glyphicon glyphicon-camera"></span>
					<span class="collectionPoints">125</span>
				</span>
			</div>
		</div>
		<div class="profile-info col-xs-12 col-md-2">
			<h3>{{ userName }}</h3>
			<p>{{ userLocation }}<span class="glyphicon glyphicon-map-marker"></span></p>
			<p>{{ userDescription }}<span class="glyphicon glyphicon-certificate"></span></p>
		</div>
	</div>
	<div class="friends-panel col-xs-12" ng-show="homepageMode === 1">
		<div class="friends-form col-xs-12 col-md-4 col-md-offset-4">
			<form class="search-users">
				<!--<label for="inputUsername" style="display:block">Search User</label>-->
				<div class="">
					<div class="input-group">
						<input class="form-control" placeholder="search new friends" ng-model="searchingStr" ng-keyup="searchUser(searchingStr)">
						<span class="input-group-btn">
		        			<button class="btn btn-default" type="button" ng-click="clearInput()"><span class="glyphicon glyphicon-remove-circle"></span></button>
		      			</span>
					</div>
				</div>
				<ul class="user-results">
					<li class="autocomplete-row" ng-repeat="result in results">
						<img src="{{ result.profilePhotoUrl }}"/>
						<span>{{ result.name }}</span>
						<span class="glyphicon glyphicon-plus add-friend-button" ng-click="addToFriend(result)"></span>
					</li>
				</ul>
			</form>
			<div class="friend-list col-md-6 col-xs-12" ng-repeat="friend in userFriendList" ng-click="jumpToFriendPage(friend.name)">
				<img src="{{ friend.profilePhotoUrl }}"/>
				<span>{{ friend.name }}</span>
			</div>
		</div>
	</div>
	<div class="profile-bottom-bar">
		<div class="profile-bottom-bar-buttons">
			<button type="button" class="btn btn-info" ng-click="showFriends()"><span class="glyphicon glyphicon-user"></span>Friends</button>
			<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span><a href="/#upload">Upload</a></button>
			<button type="button" class="btn btn-info" ng-click="showSlider()"><span class="glyphicon glyphicon-play"></span>Slider</button>
		</div>
	</div>
</div>
