<div class="home-view row">
	<div class="empty-gallery-alert" ng-show="emptyGalleryAlert">
		<h3>Please add your first image~~!!</h3>
	</div>
	<div class="mainImage" ng-hide="emptyGalleryAlert">
 		<img class="home-slider" src="{{ img.path }}" ng-repeat="img in mainImages" ng-class="{sliderhide: mainImageTopOne === img.path, sliderleft50: sliderLeft50 === img.path, sliderleft100: sliderLeft100 === img.path}">
	</div>
	<div class="userProfile">
		<img class="img-circle" width="150px" height="150px" src="{{ userProfilePhoto }}">
		<h2>{{ userName }}</h2>
		<h5>{{ userLocation }}</h5>
		<h5>{{ userDescription }}</h5>
		<div class="profileCollection">
			<span class="collectionItem">
				<div class="glyphicon glyphicon-thumbs-up"></div>
				<div class="collectionPoints">35</div>
			</span>
			<span class="collectionItem">
				<div class="glyphicon glyphicon-camera"></div>
				<div class="collectionPoints">125</div>
			</span>
			<span class="collectionItem">
				<div class="glyphicon glyphicon-user"></div>
				<div class="collectionPoints">9</div>
			</span>
		</div>
</div>
